<p id="notice"><%= notice %></p>

<h1>Listing Wallets</h1>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Currency name</th>
      <th>Amount</th>
      <th>Description</th>
      <th>Commission for deposit</th>
      <th>Commission for deduction</th>
      <th>Transaction costs</th>
      <th>Max tranche</th>
      <th>Min tranche</th>
      <th>Activity status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @wallets.each do |wallet| %>
      <tr>
        <td><%= wallet.id %></td>
        <td><%= wallet.wallet_name %></td>
        <td><%= wallet.amount %></td>
        <td><%= wallet.description %></td>
        <td><%= wallet.commission_for_deposit %></td>
        <td><%= wallet.commission_for_deduction %></td>
        <td><%= wallet.transaction_costs %></td>
        <td><%= wallet.max_tranche %></td>
        <td><%= wallet.min_tranche %></td>
        <td><%= wallet.activity_status %></td>
        <td><%= link_to 'Show', wallet %></td>
        <td><%= link_to 'Edit', edit_wallet_path(wallet) %></td>
        <td><%= link_to 'Destroy', wallet, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Wallet', new_wallet_path %>
