<p id="notice"><%= notice %></p>
<p>
  <strong>Назва валюти:</strong>
  <%= @wallet.wallet_name %>
</p>
<p>
  <strong>Кількість:</strong>
  <%= @wallet.amount %>
</p>
<p>
  <strong>Опис:</strong>
  <%= @wallet.description %>
</p>
<p>
  <strong>Коммісія за введення коштів:</strong>
  <%= @wallet.commission_for_deposit %>
</p>
<p>
  <strong>Коммісія за виведення:</strong>
  <%= @wallet.commission_for_deduction %>
</p>
<p>
  <strong>Вартість транзакції:</strong>
  <%= @wallet.transaction_costs %>
</p>
<p>
  <strong>Максимальний транш:</strong>
  <%= @wallet.max_tranche %>
</p>
<p>
  <strong>Мінімальний транш:</strong>
  <%= @wallet.min_tranche %>
</p>
<p>
  <strong>Статус:</strong>
  <%= @wallet.activity_status %>
</p>

<%= link_to 'Редагувати', edit_wallet_path(@wallet) %> |
<%= link_to 'Назад', wallets_path %>

